﻿    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title">Cargar Datos</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <div class="alert alert-success" role="alert">
                Dependiendo de la representaci&oacute;n que se elija, ser&aacute;n mostrados los problemas y operadores correspondientes
            </div>
            <label for="selectRepresentacion">Representaci&oacute;n <b>Real</b> del Algoritmo Gen&eacute;tico</label>            
            <br />
            
            <!-- Esta parte se tiene que acomodar para que sea más generico, aca se tiene en cuenta solamente el problema dado para cada representación -->
            <h5>Configuraci&oacute;n Algoritmo Gen&eacute;tico</h5>
            <ul>
                <li>Tamaño de la Poblaci&oacute;n (&mu;)</li>
                <li>Cantidad de Hijos (&lambda;)</li>
                <li>Cantidad de Generaciones (m&iacute;nimo 1)</li>
                <li>Cantidad de Ejecuciones (m&iacute;nimo 1)</li>
                <li>Operador de Selecci&oacute;n (0: Ruleta; 1: SUS; 2: Torneo Binario)</li>                
                <li id=puntos style="display: none;">Cantidad de Puntos (Entre 1 y 3)</li>
                <li id="repReal1" style="display: none;">Operador de Cruce (0: Discreto; 1: Intermedio; 2: Lineal; 3: Aritm&eacute;tico)</li>
                <li id="alfa" style="display: none;">Valor de Alfa (entre 0 y 1)</li>                
                <li>Probabilidad de Cruce (ideal entre 0,35 y 0,95)</li>                
                <li id="repReal2" style="display: none;">Operador de Mutaci&oacute;n (0: Aleatoria Uniforme; 1: Gaussiana)</li>                
                <li>Probabilidad de Mutaci&oacute;n (ideal entre 0,01 y 0,1)</li>
                <li>Estrategia de Reemplazo: 0&rarr; mu + lambda (&mu; + &lambda;); 1&rarr; mu, lambda (&mu;,&lambda;); 2&rarr; Generacional</li>
                <li>Operador de Selecci&oacute;n para Reemplazo (0: Ruleta; 1: SUS; 2: Torneo Binario; 3: Mu (&mu;) mejores)</li>
                <li>Usar Elitismo (0: No; 1: Si)</li>
            </ul>

            <h5>Configuraci&oacute;n del Problema</h5>
            <ul>
                <li id="repReal">
                    Tipo de Problema (0: Optimizaci&oacute;n de Funciones)
                </li>
                <li id="funcion">
                    Funci&oacute;n a Optimizar:
                    <ul id="funciones">
                        <li>1: Shifted Sphere (<i>Esfera Desplazada</i>)</li>
                        <li>2: Shifted Schwefel (<i>Schwefel Desplazada</i>)</li>
                        <li>3: Shifted Rosenbrock (<i>Rosenbrock Desplazada</i>)</li>
                        <li>4: Shifted Rastrigin (<i>Rastrigin Desplazada</i>)</li>
                        <li>5: Shifted Griewank (<i>Griewank Desplazada</i>)</li>
                        <li>6: Shifted Ackley (<i>Ackley Desplazada</i>)</li>
                    </ul>
                </li>
                <li id="tam_elemento">Tama&ntilde;o del individuo (m&iacute;nimo 1, m&aacute;ximo 1000)</li>
            </ul>
            <h5>Cargue todo en el siguiente campo, y en ese orden:</h5>
            <div class="input-group form-group" id="cargarConfig">
                <span class="input-group-btn">
                    <span id="exConfig" class="btn btn-primary btn-file">
                        Examinar
                        <input accept="text/plain" name="archivoConfig" type="file" id="archivoConfig">
                    </span>
                </span>
                <input readonly="readonly" placeholder="Archivo de Configuración" class="form-control" id="archivoCfg" name="archivoCfg" type="text">
            </div>
        </div>
        <div class="modal-footer">
            <button class="btn btn-success" onclick="executeConfig()">Cargar Instancia</button>
            <span id="loading_cargaRapida" hidden class="spinner-border spinner-border-sm" role="status" aria-hidden="true" ></span>
        </div>
    </div>
<script>
    //Mostrar Nombre del Archivo en Input File
    $("#archivoConfig").on("change",function(){
        var filename=$("#archivoConfig").val();
        var nameOfFile=filename.split("\\");
        $("#archivoCfg").attr("placeholder",nameOfFile[2]);
    })
    
</script>