﻿<!DOCTYPE html>
<html lang="es-ar">
    <head>
        <!-- Tab Icon -->
        <link rel="icon" type="image/x-icon" href="../images/logo_facultad.jpg">
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="">
        <title>Algoritmos Gen&eacute;ticos</title>
        <!-- Custom styles for this template -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <link type="text/css" href="{{ url_for('static', filename='vendor/bootstrap/css/bootstrap.min.css')}}" rel="stylesheet">
        <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/simple-sidebar.css')}}" />
        <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/style.css')}}" />
        <!-- StyleSheet SweetAlert2 -->
        <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/sweetalert2.min.css')}}" />
    </head>
    <body>
        <div class="d-flex" id="wrapper">
            <!-- SideBar -->
            <div class="bg-light border-right" id="sidebar-wrapper">
                <div class="sidebar-heading">Representación</div>
                <div class="list-group list-group-flush">
                    <div id="accordion">                        
                        <div class="card">
                            <div class="card-header" id="headingTwo" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                <h5 class="mb-0">
                                    <button class="btn font-weight-bold  btn-link" id="ProblemaMinMaxFunciones">
                                        Optimización de Funciones Reales
                                    </button>
                                </h5>
                            </div>                            
                        </div>

                    </div>
                </div>
            </div>
            <!-- Page Content -->
            <div id="page-content-wrapper">
                <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
                    <button class="btn btn-primary" id="menu-toggle">Menu</button>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>

                    <div style="margin-left: 10px;">
                        <a class="btn btn-primary" style="color:#fff" data-toggle="modal" data-target="#fastCharge" style="cursor:pointer;" id="botonCarga">Cargar Datos</a>
                    </div>

                </nav>
                <div class="container-fluid tab-content" id="containerPrincipal">
                    <div class="nav nav-tabs nav-fill" id="nav-tab" role="tablist">
                        <a hidden class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true">Formulario Principal</a>
                        <a hidden class="nav-item nav-link " id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="false">Resultados</a>
                    </div>
                    <div id="mensaje_inicial" hidden>SELECCIONE UNA REPRESENTACION</div>
                    <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
                        <div class="nav nav-tabs nav-fill" id="nav-tab" role="tablist">
                            <form id="principal" method="POST" enctype="multipart/form-data">
                                <div id="valoresIniciales"></div>
                                <div id="operadores"></div>
                                <div class="container">
                                    <div class="row align-items-center">
                                        <div class="col" id="container_enviar" hidden>
                                            <button type="submit" id="enviar" class="btn float  btn-primary btn-lg">Enviar</button>
                                            <span id="loading" hidden class="float spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
                    </div>
                </div>
            </div>
            <!-- Modal Carga Rápida -->
            <div id="fastCharge" class="modal fade" role="dialog">
                <div class="modal-dialog" id="cargaRapida"></div>
            </div>
        </div>
        <!-- Bootstrap core JavaScript -->
        <script src="{{ url_for('static', filename='vendor/jquery/jquery.min.js')}}"></script>
        <script src="{{ url_for('static', filename='vendor/bootstrap/js/bootstrap.bundle.min.js')}}"></script>
        <!-- Script Algoritmo Genetico Binario-->
        <script src="{{url_for('static', filename='js/Binario/B_script.js')}}"></script>
        <!-- Script Algoritmo Genetico Permutacion-->
        <script src="{{url_for('static', filename='js/Permutacion/P_script.js')}}"></script>
        <!-- Script Algoritmo Genético Real -->
        <script src="{{url_for('static', filename='js/Real/R_script.js')}}"></script>
        <!-- Generic Script -->
        <script src="{{url_for('static',filename='js/generic_script.js')}}"></script>
        <!-- Menu Toggle Script -->
        <script src="{{ url_for('static', filename='js/index.js')}}"></script>
        <!-- Script de Valores Problema Optimización de Funciones -->
        <script src="{{ url_for('static', filename='js/Real/R_problema_optimizacion_funciones.js')}}"></script>
        <!-- Script de Valores Problema MAX-SAT -->
        <script src="{{ url_for('static', filename='js/Binario/B_problema_max_sat.js')}}"></script>
        <!-- Script de Valores Problema FSSP -->
        <script src="{{ url_for('static', filename='js/Permutacion/P_problema_fssp.js')}}"></script>
        <!-- Script SweetAlert2 -->
        <script src="{{ url_for('static', filename='js/sweetalert2.min.js')}}"></script>
    </body>
</html>