﻿<div class="form-row">
    <fieldset class="form-group col-md-12">
        <legend>Operadores</legend>
        <div class="row">
            <div class="form-group col-md-3">
                <label for="selectSeleccion"><b>Selecci&oacute;n</b></label>
                <select id="selectSeleccion" name="selectSeleccion" class="form-control">                    
                    <option value="1">Selecci&oacute;n por SUS (Muestreo Universal Estoc&aacute;stico)</option>
                    <option value="2">Selecci&oacute;n por Torneo Binario</option>
                </select>
            </div>
            <div class="form-group col-md-3">
                <label for="selectCruce"><b>Cruce</b></label>
                <select id="selectCruce" name="selectCruce" class="form-control">
                    <option value="0">Cruzamiento Discreto</option>
                    <option value="1">Cruzamiento Intermedio</option>
                    <option value="2">Cruzamiento Lineal</option>
                    <option value="3">Cruzamiento Aritmético</option>
                </select>
            </div>
            <div class="form-group col-md-3">
                <label for="selectReemplazo"><b>Reemplazo</b></label>
                <select id="selectReemplazo" name="selectReemplazo" class="form-control">                    
                    <option value="1">mu, lambda (&mu;,&lambda;)</option>
                    <option value="2">Generacional</option>
                </select>
            </div>
            <div class="form-group col-md-3">
                <label for="selectMutacion"><b>Mutaci&oacute;n</b></label>
                <select id="selectMutacion" name="selectMutacion" class="form-control">
                    <option value="0">Mutaci&oacute;n Aleatoria Uniforme</option>
                    <option value="1">Mutaci&oacute;n Gaussiana</option>
                </select>
            </div>
            <div class="form-group col-md-3"></div>
            <div class="form-group col-md-3">
                <label id="alfa" style="display: none;"><b>Valor de alfa:</b></label>
                <input type="number" class="form-control" id="valorAlfa" name="valorAlfa" min="0.0001" max="0.99" step="0.0001" style="display: none;" value="0.1">
            </div>
            <div class="form-group col-md-3">
                <div id="seleccionParaReemplazo">
                    <label for="selectSeleccionReemplazo"><b>Seleccion para reemplazo</b></label>
                    <select id="selectSeleccionReemplazo" name="selectSeleccionReemplazo" class="form-control">                        
                        <option value="2">Selecci&oacute;n por Torneo Binario</option>
                        <option value="3">Selecci&oacute;n de Mu (&mu;) mejores</option>
                    </select>
                </div>
            </div>
            <div class="form-group col-md-12">
                <div class="custom-control custom-switch">
                    <input type="checkbox" name="chbxElitismo" class="custom-control-input" id="chbxElitismo" checked>
                    <label class="custom-control-label" for="chbxElitismo"><b>Mantener Elitismo</b></label>
                </div>
            </div>
        </div>
    </fieldset>
    <fieldset class="form-group col-md-12">
        <legend>Funciones</legend>
        <div class="row">
            <div class="form-group col-md-6">
                <div class="custom-control custom-radio">
                    <input class="custom-control-input" type="radio" name="funciones" id="shiftedSphere" value="1" checked>
                    <label class="custom-control-label" for="shiftedSphere">
                        <i>Funci&oacute;n Shifted Sphere (Esfera Desplazada)</i>
                    </label>
                </div>
            </div>
            <div class="form-group col-md-6">
                <div class="custom-control custom-radio">
                    <input class="custom-control-input" type="radio" name="funciones" id="schwefel" value="2">
                    <label class="custom-control-label" for="schwefel">
                        <i>Funci&oacute;n Shifted Schwefel (Schwefel Desplazada)</i>
                    </label>
                </div>
            </div>
            <div class="form-group col-md-6">
                <div class="custom-control custom-radio">
                    <input class="custom-control-input" type="radio" name="funciones" id="shiftedRosenbrock" value="3">
                    <label class="custom-control-label" for="shiftedRosenbrock">
                        <i>Funci&oacute;n Shifted Rosenbrock (Rosenbrock Desplazada)</i>
                    </label>
                </div>
            </div>
            <div class="form-group col-md-6">
                <div class="custom-control custom-radio">
                    <input class="custom-control-input" type="radio" name="funciones" id="shiftedRastrigin" value="4">
                    <label class="custom-control-label" for="shiftedRastrigin">
                        <i>Funci&oacute;n Shifted Rastrigin (Rastrigin Desplazada)</i>
                    </label>
                </div>
            </div>
            <div class="form-group col-md-6">
                <div class="custom-control custom-radio">
                    <input class="custom-control-input" type="radio" name="funciones" id="shiftedGriewank" value="5">
                    <label class="custom-control-label" for="shiftedGriewank">
                        <i>Funci&oacute;n Shifted Griewank (Griewank Desplazada)</i>
                    </label>
                </div>
            </div>
            <div class="form-group col-md-6">
                <div class="custom-control custom-radio">
                    <input class="custom-control-input" type="radio" name="funciones" id="shiftedAckley" value="6">
                    <label class="custom-control-label" for="shiftedAckley">
                        <i>Funci&oacute;n Shifted Ackley (Ackley Desplazada)</i>
                    </label>
                </div>
            </div>
            <div class="form-group col-md-12">
                <div class="alert alert-success" role="alert">
                  <i>Dependiendo de la funci&oacute;n seleccionada, los l&iacute;mites del dominio ser&aacute;n diferentes, ya que todas poseen un dominio distinto de las otras</i>
                </div>
              </div>
        </div>
    </fieldset>
    <fieldset class="form-grop col-md-12">
        <legend>Tamaño del Individuo (Dimensi&oacute;n)</legend>
        <div class="row">
            <div class="form-group col-md-3">
                <label for="tam_dimension" class="form-group col-md-12">Tamaño del Individuo (Dimensi&oacute;n)</label>
            </div>
            <div class="form-group col-md-3">
                <input type="number" class="form-control" name="tam_dimension" id="tam_dimension" value="1" min="1" max="1000">
            </div>
        </div>
    </fieldset>
    <input type="number" hidden name="limiteInferior" id="limiteInferior" value="-100">
    <input type="number" hidden name="limiteSuperior" id="limiteSuperior" value="100">
    <input name="representacion" hidden type="text" value="real" id="representacion">
    <input name="problema" hidden type="text" value="optimizacionFunciones" id="problema">
</div>
<script>
    $("#selectCruce").change(function(){
        var opt=$(this).children("option:selected").val();
        if(opt=="1"){
            $("#alfa").show();
            $("#valorAlfa").show();
        }else{
            $("#alfa").hide();
            $("#valorAlfa").hide();
        }
    });
    $("input[type='radio']").click(function(){
        var radioValue=$("input[name='funciones']:checked").val();
        switch(radioValue){
            case '1':
            case '2':
            case '3':
                $("#limiteInferior").val("-100");
                $("#limiteSuperior").val("100");
                break;
            case '4':
                $("#limiteInferior").val("-5");
                $("#limiteSuperior").val("5");
                break;
            case '5':
                $("#limiteInferior").val("-600");
                $("#limiteSuperior").val("600");
                break;
            case '6':
                $("#limiteInferior").val("-32");
                $("#limiteSuperior").val("32");
                break;
            default:
                console.error("No debería pasar esto");
        }
    })
</script>