﻿<h3 class="text-center">
    Resultados Generales
</h3>
<div class="row">
    <div class="col">
        <div>
            <div class="card card-body">
                <h5>Solucion:</h5>
                <label> Fitness Mejor solucion: <b>1872.3</b></label>
                <label> Tiempo en la que se encontro: <b>1872.3</b> </label>
                <label> Generacion en la que se encontro: <b>1872.3</b> </label>
            </div>
        </div>
    </div>
    <div class="col">
        <div>
            <div class="card card-body">
                <h5>Tiempo y Cantidad de generaciones:</h5>
                <label> Tiempo total de ejecucion: <b>1872.3</b> </label>
                <label> Total de generaciones: <b>1872.3</b> </label>
            </div>
        </div>
    </div>
</div>



<h3 class="text-center">
    Fitness Poblacion Inicial y final
</h3>
<div class="row">
    <div class="col">
        <div>
            <div class="card card-body">
                <h5>Inicial:</h5>
                <label>Mejor Solucion: <b>1872.3</b></label>
                <label> Peor Solucion: <b>1872.3</b> </label>
                <label> Promedio: <b>1872.3</b> </label>
            </div>
        </div>
    </div>
    <div class="col">
        <div>
            <div class="card card-body">
                <h5>Final:</h5>
                <label> Mejor Solucion: <b>1872.3</b> </label>
                <label> Peor Solucion: <b>1872.3</b> </label>
                <label> Promedio: <b>1872.3</b> </label>
            </div>
        </div>
    </div>
</div>

<!--<div class="accordion" id="resultadosCollapse">
    <div class="card">
        <div class="card-header" id="head">
            <h5 class="mb-0">
                <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collUno" aria-expanded="true" aria-controls="collUno">
                    Resultados generales
                </button>
            </h5>
        </div>

        <div id="collUno" class="collapse show" aria-labelledby="head" data-parent="#resultadosCollapse">
            <div class="card-body">

            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-header" id="head2">
            <h5 class="mb-0">
                <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#colltwo" aria-expanded="false" aria-controls="colltwo">
                    Collapsible Group Item #2
                </button>
            </h5>
        </div>
        <div id="colltwo" class="collapse" aria-labelledby="head2" data-parent="#resultadosCollapse">
            <div class="card-body">
                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-header" id="headingThree">
            <h5 class="mb-0">
                <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collthree" aria-expanded="false" aria-controls="collthree">
                    Collapsible Group Item #3
                </button>
            </h5>
        </div>
        <div id="collthree" class="collapse" aria-labelledby="headingThree" data-parent="#resultadosCollapse">
            <div class="card-body">


                <canvas id="myChart" style="max-width: 1000px;"></canvas>

            </div>
        </div>
    </div>
</div>-->

<label for="name">Tamano de poblacion: <b>12</b></label>

<!--<a href="{{ url_for('download', filename='datos.txt')}}">
    desc
</a>-->



<canvas id="myChart" style="max-width: 1000px;"></canvas>

<script src="static/package/dist/Chart.js"></script>
<script>


    var ctx = document.getElementById("myChart").getContext('2d');
    var myChart = new Chart(ctx, {
        type: 'bar',
        data: {
            labels: ["Red", "Blue", "Yellow", "Green", "Purple", "Orange"],
            datasets: [{
                label: '# of Votes',
                data: [12, 19, 3, 5, 2, 3],
                backgroundColor: [
                    'rgba(255, 99, 132, 0.2)',
                    'rgba(54, 162, 235, 0.2)',
                    'rgba(255, 206, 86, 0.2)',
                    'rgba(75, 192, 192, 0.2)',
                    'rgba(153, 102, 255, 0.2)',
                    'rgba(255, 159, 64, 0.2)'
                ],
                borderColor: [
                    'rgba(255,99,132,1)',
                    'rgba(54, 162, 235, 1)',
                    'rgba(255, 206, 86, 1)',
                    'rgba(75, 192, 192, 1)',
                    'rgba(153, 102, 255, 1)',
                    'rgba(255, 159, 64, 1)'
                ],
                borderWidth: 1
            }]
        },
        options: {
            scales: {
                yAxes: [{
                    ticks: {
                        beginAtZero: true
                    }
                }]
            }
        }
    });


</script>

