﻿<h3>Resultados Obtenidos</h3>
<div class="row">
    <div class="col-md-12">
        <div class="alert alert-primary" role="alert">
            <div class="row">
                <div class="col-md-12">
                    <b>Referencias:</b>
                </div>
                <div class="col-md-6">
                    <ul>
                        <li><i><b>E: </b>N&uacute;mero de Ejecuci&oacute;n</i></li>
                        <li><i><b>MSi: </b>Mejor Soluci&oacute;n Inicial</i></li>
                        <li><i><b>PSi: </b>Peor Soluci&oacute;n Inicial</i></li>
                        <li><i><b>PrSi: </b>Promedio Soluci&oacute;n Inicial</i></li>
                        <li><i><b>MSf: </b>Mejor Soluci&oacute;n Final</i></li>
                        <li><i><b>PSf: </b>Peor Soluci&oacute;n Final</i></li>
                        <li><i><b>PrSf: </b>Promedio Soluci&oacute;n Final</i></li>
                        <li><i><b>MjS: </b>Mejor Soluci&oacute;n</i></li>
                    </ul>
                </div>
                <div class="col-md-6">
                    <ul>
                        <li><i><b>GMjS: </b>Generaci&oacute;n Mejor Soluci&oacute;n</i></li>
                        <li><i><b>TMjS: </b>Tiempo Mejor Soluci&oacute;n</i></li>
                        <li><i><b>DrO: </b>Diferencia Relativa al &Oacute;ptimo</i></li>
                        <li><i><b>err: </b>Error Relativo</i></li>
                        <li><i><b>fit: </b>Cantidad de Evaluaciones Funci&oacute;n Fitness</i></li>
                        <li><i><b>TG: </b>Total Generaciones</i></li>
                        <li><i><b>TtotEj: </b>Tiempo Total de Ejecuci&oacute;n</i></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<a id="botonDescargar" href="">Descargar archivo de resultado</a>
<div class="row">
    <div class="accordion col-md-12" id="resultadosAccordion">
        <!--
    <div class="card">
        <div class="card-header" id="head5">
            <h5 class="mb-0">
                <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collCinco" aria-expanded="true" aria-controls="collCinco">
                    Resumen de Resultados
                </button>
            </h5>
        </div>
        <div id="collCinco" class="collapse show" aria-labelledby="head5" data-parent="#resultadosAccordion">
            <div class="card-body">

            </div>
        </div>
    </div>
        -->
        <div class="card">
            <div class="card-header" id="head">
                <h5 class="mb-0">
                    <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collUno" aria-expanded="true" aria-controls="collUno">
                        Tabla de Resultados
                    </button>
                </h5>
            </div>
            <div id="collUno" class="collapse" aria-labelledby="head" data-parent="#resultadosAccordion">
                <div class="card-body">
                    <table class="table table-bordered table-responsive table-hover" id="resultados">
                        <thead>
                            <tr>
                                <th>E</th>
                                <th style="background-color: rgba(0, 0, 255, 0.5);">MSi</th>
                                <th style="background-color: rgba(0, 0, 255, 0.5);">PSi</th>
                                <th style="background-color: rgba(0, 0, 255, 0.5);">PrSi</th>
                                <th style="background-color: rgba(255, 0, 0, 0.5);">MSf</th>
                                <th style="background-color: rgba(255, 0, 0, 0.5);">PSf</th>
                                <th style="background-color: rgba(255, 0, 0, 0.5);">PrSf</th>
                                <th style="background-color: rgba(0, 255, 0, 0.5);">MjS</th>
                                <th style="background-color: rgba(0, 255, 0, 0.5);">GMjS</th>
                                <th style="background-color: rgba(0, 255, 0, 0.5);">TMjS</th>
                                <th>DrO</th>
                                <th>err</th>
                                <th>fit</th>
                                <th>TG</th>
                                <th>TtotEj</th>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header" id="head2">
                <h5 class="mb-0">
                    <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#colltwo" aria-expanded="false" aria-controls="colltwo">
                        Comparaci&oacute;n Resultados Obtenidos con el &Oacute;ptimo
                    </button>
                </h5>
            </div>
            <div id="colltwo" class="collapse" aria-labelledby="head2" data-parent="#resultadosAccordion">
                <div class="card-body">
                    <canvas id="myChart" style="max-width: 1000px;" class="chartjs-render-monitor"></canvas>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header" id="head3">
                <h5 class="mb-0">
                    <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collthree" aria-expanded="false" aria-controls="collthree">
                        Comparaci&oacute;n Tiempo total de Ejecuci&oacute;n y Tiempo en que se encontr&oacute; la mejor soluci&oacute;n
                    </button>
                </h5>
            </div>
            <div id="collthree" class="collapse" aria-labelledby="head2" data-parent="#resultadosAccordion">
                <div class="card-body">
                    <canvas id="timeBarChart" style="max-width: 1000px;" class="chartjs-render-monitor"></canvas>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header" id="head4">
                <h5 class="mb-0">
                    <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collfour" aria-expanded="false" aria-controls="collfour">
                        Comparaci&oacute;n Mejor Soluci&oacute;n respecto al &Oacute;ptimo, su diferencia y su % de Error
                    </button>
                </h5>
            </div>
            <div id="collfour" class="collapse" aria-labelledby="head2" data-parent="#resultadosAccordion">
                <div class="card-body">
                    <canvas id="differenceBarChart" style="max-width: 1000px;" class="chartjs-render-monitor"></canvas>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="{{ url_for('static', filename='package/dist/Chart.js')}}"></script>
